:root {
  --border-default: #3c4043;
  --dark-grey: #202124;
  --light-white: #e8eaed;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2 {
  color: var(--light-white);
  text-align: center;
}
