.ship_card {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  list-style: none;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid var(--border-default);
  overflow: hidden;
}

.ship_card:hover {
  border: 1px solid var(--light-white);
  background-color: var(--light-white);
  transition: 0.2s linear;
}

.ship_card-description {
  display: none;
  position: absolute;
  height: 100%;
  padding: 10px;
  top: -16px;
  left: 0;
  right: 0;
  color: var(--light-white);
  backdrop-filter: blur(30px);
  opacity: 1;
}

.ship_card:hover .ship_card-description {
  display: flex;
  align-items: center;
  color: var(--dark-grey);
}

.ship_card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ship_card-image {
  width: 435px;
  align-self: center;
}

.ship_card-name,
.ship_card-shortmark,
.ship_card-nation {
  color: var(--light-white);
}
