form {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.title {
    color: var(--light-white)
}

.search_input {
  display: block;
  width: 50%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  color: var(--light-white);
  background: var(--input-grey);
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

button {
  width: 100px;
  height: auto;
  cursor: pointer;
  color: var(--black-color);
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: var(--light-white);
}

button:hover {
  transition: .2s linear;
  background-color: var(--light-purple);
}
