form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--light-white);
}

.search_input {
  display: block;
  width: 50%;
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  color: var(--light-white);
  background: var(--input-grey);
}

.search_input:hover {
  transition: 0.2s linear;
  background: var(--input-light-grey);
}

.search_input:focus {
  box-shadow: 0 0 3px var(--focus-default);
}

.search_input-button,
.search_input-clear {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
